In [108]:
import numpy as np
import pandas as pd
import ast

In [109]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [110]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [111]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [112]:
movies=movies.merge(credits,on='title')

In [113]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [114]:
# genres
# id
# keywords
# title
# overview
# production companies
# release date
# cast
# crew

movies=movies[['movie_id','title','overview','genres','keywords','production_companies','cast','crew']]

In [115]:
movies.head(1)

,movie_id,title,overview,genres,keywords,production_companies,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [116]:
movies.isnull().sum()

movie_id                0
title                   0
overview                3
genres                  0
keywords                0
production_companies    0
cast                    0
crew                    0
dtype: int64

In [117]:
movies.dropna(inplace=True)

In [118]:
movies.duplicated().sum()

0

In [119]:
movies['overview']=movies['overview'].apply(lambda x: x.split(" "))

In [120]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [121]:
movies['genres']=movies['genres'].apply(convert)
movies['genres']=movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])

In [122]:
movies['keywords']=movies['keywords'].apply(convert)
movies['keywords']=movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])

In [123]:
def ret(obj):
    count=0
    l=[]
    for i in ast.literal_eval(obj):
        if count!=3:
            l.append(i['name'])
            count=count+1
        else:
            break
    return l

In [124]:
movies['production_companies']=movies['production_companies'].apply(ret)
movies['production_companies']=movies['production_companies'].apply(lambda x: [i.replace(" ","") for i in x])

In [125]:
def actor(obj):
    count=0
    l=[]
    for i in ast.literal_eval(obj):
        if count!=3:
            l.append(i['name'])
            count=count+1
        else:
            break
    return l

In [126]:
movies['cast']=movies['cast'].apply(actor)
movies['cast']=movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])

In [127]:
def director(obj):
    count=0
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
            break
    return l

In [128]:
movies['crew']=movies['crew'].apply(director)
movies['crew']=movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [129]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['production_companies']+movies['cast']+movies['crew']
new_df=movies[['movie_id','title','tags']]

In [130]:
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

C:\Users\sutan\AppData\Local\Temp\ipykernel_12396\2380013068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
C:\Users\sutan\AppData\Local\Temp\ipykernel_12396\2380013068.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [131]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [132]:
def stem(obj):
    new=[]
    for i in obj.split():
        new.append(ps.stem(i))
    return " ".join(new)

In [133]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\sutan\AppData\Local\Temp\ipykernel_12396\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [134]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [135]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [136]:
vector=cv.fit_transform(new_df['tags']).toarray()

In [137]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [138]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [139]:
new_df[new_df['title']=='Avatar'].index[0]
similarity[0]

array([1.        , 0.07808688, 0.08035074, ..., 0.0437374 , 0.        ,
       0.        ])

In [140]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distance=similarity[movie_index]
    movie_list=sorted(list(enumerate(distance)),reverse=True,key= lambda x: x[1])[1:6]
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [141]:
import pickle as pk
pk.dump(new_df.to_dict(),open('movies.pkl','wb'))
pk.dump(similarity,open('similarity.pkl','wb'))

In [143]:
recommend('Pirates of the Caribbean: At World\'s End')

Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: The Curse of the Black Pearl
Pirates of the Caribbean: On Stranger Tides
20,000 Leagues Under the Sea
Life of Pi